<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number of people</title>
</head>
<body>
    <div id="people">
        <script>
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", "http://{{host_ip}}:{{host_port}}/get_people", false ); // false for synchronous request
            xmlHttp.send( null );
            document.getElementById("people").innerHTML = "Number of people: " + xmlHttp.responseText;
        </script>
    </div>
</body>
</html>